name: build

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

jobs:
  publish:
    environment: ${{ inputs.environment }}
    permissions:
      id-token: write
    
    runs-on: ubuntu-latest
    container:
      image:  google/dart:latest

    steps:
    - name: 'Checkout'
      uses: actions/checkout@v4

    - name: 'Get Packages'
      run: pub get

    - name: 'Run tests'
      run: pub run test

    - name: 'Dry Run Publishing'
      run: dart pub publish --dry-run

    - name: 'Publish Artifact'
      run: dart pub publish --force

    # Replace %PROJECT_NAME% to the real project name

    # - name: Activate coverage package
    #   run: pub global activate coverage

    # - name: Collect coverage in json
    #   run: dart --disable-service-auth-codes --enable-vm-service=8111 --pause-isolates-on-exit test/%PROJECT_NAME%_test.dart & nohup pub global run coverage:collect_coverage --port=8111 --out=coverage.json --wait-paused --resume-isolates

    # - name: Convert coverage to lcov
    #   run: pub global run coverage:format_coverage --lcov --in=coverage.json --out=lcov.info --packages=.packages --report-on=lib

    # - name: Upload coverage to Codecov
    #   uses: codecov/codecov-action@v1.0.5
    #   with:
    #     token: ${{ secrets.CODECOV_TOKEN }}
    #     flags: unittests
    #     file: ./lcov.info
    #     name: codecov-%PROJECT_NAME%
